{% extends 'base.html' %}
{% block content %}






<p class="card-text">
<strong>Course name: </strong>{{ customer_course.coursename }}</p>

<p class="card-text">
<strong>Course description: </strong>{{ customer_course.coursedescription }}
</p>


<p class="card-text">
<strong>ID: </strong>{{ customer_course.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_course' customer_course.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_course' customer_course.id %}" class="btn btn-secondary">Update Course</a>
		

{% endblock %}