{% extends 'base.html' %}
{% block content %}




<p class="card-text">
<strong>Payment Date: </strong>{{ customer_subscription.paymentdate }}</p>

<p class="card-text">
<strong>Expiry Date: </strong>{{ customer_subscription.expirydate }}
</p>

<p class="card-text">
    <strong>Package ID: </strong>{{ customer_subscription.packageid }}
    </p>

<p class="card-text">
    <strong>Record ID: </strong>{{ customer_subscription.recordid }}
    </p>


<p class="card-text">
<strong>ID: </strong>{{ customer_subscription.id }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_subscription' customer_subscription.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_subscription' customer_subscription.id %}" class="btn btn-secondary">Update Subscription</a>
		

{% endblock %}